<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kaio Moreno">
    <meta name="description" content="A website of scheduling system">
    <meta name="keywords" content="javascript,nodejs,login,reggister">
    <title>Ageapp</title>

    <script src="scrypt.js" defer ></script>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <aside class="sidebar">
        <nav class="navbar">
            
            <div id="divicon">
            <img src="icons8-agenda-50.png" alt="https://icons8.com/icon/123509/planejamento-de-tarefas">
            </div>
            <div class="divbar">
                <h1 class="titlebar">Ageapp</h1>
            </div>
            <div class="diva">
                <a class="linkaside" href="home">Home</a>
                <a class="linkaside" href="login">Login</a>
                <a class="linkaside" href="">Sobre Nós</a>
            </div>
        </nav>
    </aside>


</body>

</html>