<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kaio Moreno">
    <meta name="description" content="A website of scheduling system">
    <meta name="keywords" content="javascript,nodejs,login,reggister">
    <title>Ageapp</title>

    <link rel="stylesheet" href="register.css">

</head>

<body>
    <%- include('asidebar') %>

    <div class="divregister">

        <div class="divform">
        <h1 class="h1register">Registre-se</h1>

        <form action="/create" method="POST" id="formregister">

            <div class="divinputuser">
                <img id="iconuser" src="icons8-usuário.png" alt="https://icons8.com/icon/84020/usu%C3%A1rio">
                <input class="inputuser" type="text" id="username" name="username" placeholder="Digite seu usuário" required autocomplete="username">
            </div>

            <div class="divinputemail">
                <img id="iconemail" src="icons8-email.png" alt="https://icons8.com/icon/12580/nova-mensagem">
                <input class="inputemail" type="email" id="email" name="email" placeholder="Digite seu email" required autocomplete="email">
            </div>
            <div class="divinputpass">
                <img id="iconpass" src="icons8-senha.png" alt="https://icons8.com/icon/107272/senha">
                <input class="inputpass" type="password" id="password" name="password" placeholder="Digite sua senha" required>
            </div>
            <button type="submit" id="registrarbutton">Registrar-se</button>
        </form>


        <a id="linkregister" href="/login">Já tem conta? Faça Login aqui</a>
        </div>
    </div>



</body>

</html>
